pre code.hljs {
  display: block;
  @apply p-4 my-2 overflow-x-auto;
}

.hljs {
  color: var(--code-color);
  background-color: var(--code-bg);

  @apply rounded-2xl;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--code-keyword);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--code-title);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: var(--code-attribute);
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: var(--code-string);
}

.hljs-built_in,
.hljs-symbol {
  color: var(--code-symbol);
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  color: var(--code-comment);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--code-quote);
}

.hljs-subst {
  color: var(--code-subst);
}

.hljs-section {
  color: var(--code-section);
  font-weight: bold;
}

.hljs-bullet {
  color: var(--code-bullet);
}

.hljs-emphasis {
  color: var(--code-emphasis);
  font-style: italic;
}

.hljs-strong {
  color: var(--code-strong);
  font-weight: bold;
}

.hljs-addition {
  color: var(--code-addition-color);
  background-color: var(--code-addition-bg);
}

.hljs-deletion {
  color: var(--code-deletion-color);
  background-color: var(--code-deletion-bg);
}
