@utility theme-* {
  color: color-mix(
    in var(--colorspace),
    var(--max-text) --value(integer)%,
    var(--min-text)
  );
  background-color: color-mix(
    in var(--colorspace),
    var(--max-bg) --value(integer)%,
    var(--min-bg)
  );
  border-color: var(--min-text);
}

@utility theme-transition {
  transition-timing-function: var(--transition);
  transition-duration: var(--duration);
}
