@import "tailwindcss";

@import "./style/themes.css";
@import "./style/theme-utils.css";

@import "./style/render.css";
@import "./style/code.css";

@utility block {
  @apply theme-60 p-2 rounded-xl;
}

@utility compact-block {
  @apply theme-60 p-1 rounded-xl;
}

@utility thin-block {
  @apply theme-60 rounded-xl;
}

body {
  @apply theme-90 cursor-default overflow-clip;
  user-select: none;

  @apply p-3 gap-3 w-screen h-screen;
  @apply flex;

  @apply ease-out duration-100;
}

.browser {
  @apply overflow-y-auto text-wrap select-text cursor-auto overflow-x-hidden block;
}

.sidebar {
  @apply flex flex-col;
}

.tabs {
  @apply overflow-y-auto text-wrap overflow-x-hidden flex flex-col;
}

.tab {
  @apply p-2 rounded-xl theme-60;
  @apply cursor-pointer theme-transition;

  @apply hover:theme-55 active:theme-45;

  @apply hover:px-4;

  @apply flex items-center gap-2 w-full truncate;
}

.top-bar-desktop {
  @apply flex gap-2;
}

.navigation-buttons-desktop {
  @apply flex items-center gap-1;
}

.main-window-desktop {
  @apply col-span-5 flex flex-col overflow-y-auto gap-2;
}

.top-bar-search-input-desktop {
  @apply px-2 py-1 rounded-xl grow min-w-0 h-full w-full;

  @apply theme-60 outline-none;
  @apply focus:theme-20 hover:theme-50;

  @apply theme-transition;

  @apply text-center focus:text-start;
}

.top-bar-input-button-desktop {
  @apply m-1;
}

.top-bar-input {
  @apply flex gap-2 w-full;
}

.button {
  @apply p-1 rounded-lg;
  @apply theme-transition;

  @apply hover:theme-90 hover:px-2;
  @apply cursor-pointer;

  @apply active:theme-100;
}

::selection {
  color: var(--selection-color);
  background-color: var(--selection-bg);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-xl theme-70 bg-clip-content;
  border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  @apply theme-75;
  border: 5px solid transparent;
}

::-webkit-scrollbar-thumb:active {
  @apply theme-100;
  border: 4px solid transparent;
}
